* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oldenburg", serif;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../images/14645823_5488008.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hidden {
  display: none;
  opacity: 0;
  transition: opacity 0.5s ease-out;
  pointer-events: none;
}

#welcome-message {
  background-color: rgba(24, 202, 202, 0.902);
  width: 90%;
  height: 950px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: larger;
  text-align: center;
  line-height: 70px;
}

.start-button {
  padding: 10px;
  border-radius: 20px;
  margin-top: 50px;
  transition: 0.5s;
}

.start-button:hover {
  background-color: plum;
  color: white;
  cursor: pointer;
}

#container {
  background-color: rgba(0, 255, 255, 0.916);
  width: 80%;
  height: 950px;
  padding: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  font-size: 30px;
}

.questions {
  padding: 10px;
  text-align: center;
}

#questions-image {
  width: 20vw;
  height: auto;
  margin-top: 10px;
}

#questions-audio {
  margin-top: 10px;
  width: 20vw;
}

.button-choices {
  display: flex;
  justify-content: center;
  padding: 12px 24px;
  margin-top: 50px;
  width: 20vw;
  border-radius: 20px;
  font-size: clamp(20px, 2.5vw, 2rem);
}

.button-choices:hover {
  background-color: plum;
  color: white;
  cursor: pointer;
}

.score {
  background-color: rgba(235, 181, 235, 0.921);
  width: 1000px;
  height: 950px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  gap: 50px;
  font-size: larger;
  text-align: center;
  line-height: 50px;
}

.restart {
  border: 1px solid black;
  border-radius: 15px;
  padding: 10px;
}

.restart:hover {
  background-color: rgba(24, 202, 202, 0.778);
  color: white;
  cursor: pointer;
}
